#controls {
    margin:10px;
}

#allplayers{
    margin-top: 10px;
}

#turnarrow{
    display: inline;
    letter-spacing: 5px;
    vertical-align: -15%;
    font-size: 200%;
}

#controls button {
    padding:5px 10px;
}

.card {
    width: 102px;
    height: 149px;
}
#playercards .card {
    margin-left:25px;
    z-index:999;
}
#playercards .card:hover {
    width: 122px;
    height: 179px;
}

#trekstapel{
    /*float: left;*/
}

.stapel {
    display: inline-block;
    width: 102px;
    height: 149px;
    border: 2px solid black;
}

#suits {
    text-align: center;
    display: none;
}

#suits button {
    font-size: 150%;
}

.diamond, .hart {
    color: red;
}

.turn {
    color: yellow;
}

.you {
    font-size: 150%;
}



@media only screen and (max-width: 768px) {
    #controls {
        height:40px;
        width:100%;
        text-align:center;
    }
    .stapel {
        width:70px;
        height:105px;
    }
    .stapel .card {
        width:70px;
        height:105px;
    }
    #playercards .card {
        width:70px;
        height:105px;
        margin-left:15px;
    }
    #playercards {
        margin-left:-5%;
        width:80%;
    }
}

