#controls {
    margin:10px;
}

#allplayers{
    margin-top: 10px;
}

#controls button {
    padding:5px 10px;
}

.card {
    width: 10%;
    height: auto;
    position: absolute;
}
#playercards .card:hover {
    width:12%;
}

#trekstapel{
    /*float: left;*/
}

.stapel {
    display: inline-block;
    width: 102px;
    height: 149px;
    border: 2px solid black;
}
