@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-image:url('/img/bg.jpg');
    background-size:100%;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    color: white;
}

h1 {
    font-size:60px;
    text-align: center;
}

h2 {
    font-size:24px;
}

#wrapper {
    margin: 0 auto;
    width:100%;
    max-width:1024px;
    /*background-color:pink;*/
}

header {
    width:100%;
    color:whitesmoke;
}

#content {
    position: relative;
    width:100%;
    margin-left: 40%;
    margin-top: 20%;
}

#controls button {
    padding:5px 10px;
}

.card {
    width: 8%;
    height: auto;
    position: absolute;
}

footer {
    position: fixed;
    height:50px;
    bottom:0;
}

#trekstapel{
    float: left;
}

input[type="button"]{
    width: 135px;
    height: 35px;
    margin-top: 15px;
    background: #bf0f0f;
    border-color: red;
    border-radius: 70px;
    cursor: pointer;
    letter-spacing: 1px;
    text-shadow: 0;
    color: whitesmoke;
    font-weight: bold;
    transition: all 0.25s ease;
    font-size: 14px;
    outline: none;
}

input[type="button"]:hover{
    background: #ff1e1e;
    color: white;
}
