body {
    background-color: #e9ebee;
    font-family:"Verdana", sans-serif;
    font-size:14px;
}

h1 {
    font-size:22px;
}

h2 {
    font-size:18px;
}

#wrapper {
    margin: 0 auto;
    max-width:1024px;
}

header {
    height:100px;
    background-color:#47A;
}

#content {
    background-color:#69C;
}

footer {
    height:30px;
    background-color:#47A;
    text-align:center;
}